{% load static %}

<style>
  .navbar-nav.custom-order {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-nav.custom-order .nav-item {
    margin: 0;
  }

  .navbar-toggler {
    order: -1; /* Place the toggler at the beginning */
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/us.jpg' %}" class="logo" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav custom-order">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAll" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Explore
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownAll">
            <a class="dropdown-item" href="{% url 'index' %}">Home</a>
            <a class="dropdown-item" href="{% url 'about' %}">About Us</a>
            <a class="dropdown-item" href="{% url 'listings' %}">Featured Listings</a>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome {{ user.username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'dashboard' %}">
              <i class="fas fa-cogs"></i> Dashboard
            </a>
            <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a> <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
               {% if not user.is_authenticated %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'register' %}">
                <i class="fas fa-user-plus"></i> Register
              </a>
              <a class="dropdown-item" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i> Login
              </a>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
