{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome{% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase" class="py-5">
  <div class="container text-center">
    <div class="home-search p-5" style="background-color: #5e5e5e;">
      <div class="overlay p-5" style="background-color: rgba(0, 0, 0, 0.7);">
        <h1 class="display-4 mb-4 text-white"><b>Welcome to UrbanSpace</b></h1>
        <p class="lead text-white">
          Discover a world where luxury meets comfort, and dreams find a home. Welcome to UrbanSpace, your premier destination for real estate excellence in Kenya. We understand that your home is more than just a place; it's a reflection of your aspirations, a sanctuary of comfort, and the canvas for your unique lifestyle.
        </p>
        <div class="search mt-4">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input
                  type="text"
                  name="keywords"
                  class="form-control"
                  placeholder="Keyword (Pool, Garage, etc)"
                />
              </div>
              <div class="col-md-4 mb-3">
                <label class="sr-only">County</label>
                <input
                  type="text"
                  name="city"
                  class="form-control"
                  placeholder="County"
                />
              </div>
              <div class="col-md-4 mb-3">
                <label class="sr-only">Town</label>
                <select name="state" class="form-control">
                  <option selected="true" disabled="disabled">Town</option>
                  {% for key,value in state_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Bedrooms</label>
                <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Bedrooms (All)</option>
                  {% for key,value in bedroom_choices.items %}
                  <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control">
                  <option selected="true" disabled="disabled">Max Price (Any)</option>
                  {% for key,value in price_choices.items %}
                  <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-danger btn-block mt-4" type="submit">
              Search Listings
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Latest Listings</h2>
    <div class="row">
      {% if listings %}
        {% for listing in listings %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="{{ listing.title }}" />
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">Ksh{{ listing.price | intcomma }}M</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ listing.title }}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }}, {{ listing.state }}, {{ listing.zipcode }}
                  </p>
                </div>
                <hr />
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> Sqft: {{ listing.sqft }}
                  </div>
                  <div class="col-6"><i class="fas fa-car"></i> Garage: {{ listing.garage }}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6"><i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}</div>
                  <div class="col-6"><i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>
                </div>
                <hr />
                <div class="row py-2 text-secondary">
                  <div class="col-6"><i class="fas fa-user"></i> {{ listing.realtor }}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6"><i class="fas fa-clock"></i> Listed {{ listing.list_date | timesince }} ago</div>
                </div>
                <hr />
                <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p>No listings available</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<!-- Features Section -->
<section id="features" class="py-5" style="background-color: #f8f9fa;">
  <div class="container">
    <h2 class="text-center mb-4">Our Services</h2>
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-cogs fa-4x mb-4"></i>
        <h3 class="mb-3">Consulting Services</h3>
        <p>
          UrbanSpace understands that real estate decisions often involve complex considerations. Our consulting services provide you with expert advice and personalized guidance to make informed choices about your real estate ventures.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mb-4"></i>
        <h3 class="mb-3">Property Management</h3>
        <p>
          At UrbanSpace, we specialize in facilitating seamless renting and selling experiences for both property owners and prospective tenants or buyers.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-money-bill-alt fa-4x mb-4"></i>
        <h3 class="mb-3">Renting & Selling</h3>
        <p>
          Whether you're looking to find the perfect rental home or sell your property at the best market value, UrbanSpace is your trusted partner in finding or selling the ideal property to suit your needs.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
